  <table style="width: 100%;">
  <thead class="cabeçalho">
    <th>X</th>
    <th>Dia</th>
    <th>Hora</th>
    <th>Serviço</th>
    <th>Profisional</th>
    <th>Presença</th>
    <th>Valor (R$)</th>
    <th>Pagamento (R$)</th>
    <th>Recibo</th>
  </thead>
  <tbody class="corpo">
    <tr *ngFor="let l of this.finService.tabFinanceira" [class.linhaDestacada]="l.selecionada" class="linha" (click)="Selec(l, l.id, $event, l.valor)">
      <td><input type="checkbox" [(ngModel)]="l.selecionada"></td>
      <td>{{l.dia}}</td>
      <td>{{l.hora}}</td>
      <td>{{l.servico}}</td>
      <td>{{l.profis}}</td>
      <td *ngIf="l.presenca == 'Pendente'" class="pendente">{{l.presenca}}</td>
      <td *ngIf="l.presenca == 'Falta'" class="falta">{{l.presenca}}</td>
      <td *ngIf="l.presenca == 'Realizado'" class="realizado">{{l.presenca}}</td>
      <td *ngIf="l.presenca == '---'" class="pg">{{l.presenca}}</td>
      <td style="text-align: right;">{{l.valor | currency:'BRL' }}</td>
      <td style="text-align: right;">{{l.dtPago }} </td>
      <td style="text-align: right;">{{l.recibo}}</td>
    </tr>
  </tbody>
</table>
