
<div class="main-container">
  <div class="lado-esquerdo">
    <div class="superior-e">
      <div class="se-left">
        <button class="Novo">{{this.Ficha}}</button>
      </div>
      <div class="se-right" >
        <label class="Nome">{{this.finService.NomeCliente}}</label>
      </div>
    </div>
    <div class="inferior-e">
      <div class="bloco-antigo">
        <div class="listagem">
          <app-tab-fin  *ngIf="this.tela == 'padrão'"></app-tab-fin>
          <app-tab-valores  *ngIf="this.tela == 'valores'"></app-tab-valores>
        </div>
        </div>
        <div class="totais">
          <span class="tot01">TOTAIS:</span>
          <span class="tot01">{{totalRegistros}} registros.</span>
          <span class="tot02">{{totalValor  | currency:'BRL' }}</span>
          <span class="tot02">{{totalPagto | currency:'BRL' }}</span>
          <span class="tot02" style="font-weight: bold;" >{{diferenca | currency:'BRL' }}</span>
        </div>

        <!-- AQUI SÃO MOSTRADOS OS COMPONENTES PARA EDIÇÃO -->

      <div class="bloco-input" *ngIf="this.finService.MostraInfo">
        <div class="inp-sup" style="top: 0;">
          <div class="cjt1">
            <span class="cjtLbl">Cliente</span>
            <input class="cjtInp" type="text" list="valores1" [(ngModel)]="finService.NomeCliente">
            <datalist id="valores1">
              <option *ngFor="let valor of finService.ListaCliente" [value]="valor.nome"></option>
            </datalist>
          </div>
          <div class="cjt2">
            <span class="cjtLbl">Valor do Serviço</span>
            <input class="cjtInp" [disabled]="true" appCurrencyInput [(ngModel)]="finService.info_Valor" appCurrency>
          </div>
          <div class="cjt2" style="width: 15%;">
            <span class="cjtLbl">Data da sessão </span>
            <input class="cjtInp" [disabled]="true" appDateMask [(ngModel)]="this.finService.info_Data">
          </div>
          <div class="cjt2">
            <span class="cjtLbl">Serviço:</span>
            <input class="cjtInp" [disabled]="true" [(ngModel)]="this.finService.info_Movimento">
          </div>
          <div class="cjt2">
            <span class="cjtLbl">Atualizado por:</span>
            <input class="cjtInp" [disabled]="true" [(ngModel)]="this.finService.info_idUser">
          </div>
        </div>
        <div class="inp-sup" style="top: 50%;">
          <div class="cjt1">
            <span class="cjtLbl">Descrição</span>
            <input class="cjtInp" [(ngModel)]="this.finService.info_Descricao">
          </div>
          <div class="cjt2">
            <span class="cjtLbl">Pagamento</span>
            <input class="cjtInp" appCurrencyInput [(ngModel)]="finService.info_Saldo" appCurrency (blur)="AtualizaData()">
          </div>
          <div class="cjt2" style="width: 15%;">
            <span class="cjtLbl">Data pagto</span>
            <input class="cjtInp"  appDateMask [(ngModel)]="this.finService.info_DataAt">
          </div>
          <div class="cjt2">
            <span class="cjtLbl">Recibo:</span>
            <input class="cjtInp" [(ngModel)]="this.finService.info_Recibo">
          </div>
          <div class="cjt2">
            <span class="cjtLbl">Clique p/ retirar o Pagto:</span>
            <br>
            <button class="cjtInp2">Retirar o Pagamento</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lado-direito">
    <div class="superior-d" style="padding-left: 5px; padding-right: 5px;">

      <div class="interno">
        <div>
          <input type="checkbox" style="font-size: 1.5vh;" [(ngModel)]="this.finService.filtro001"><span style="font-size: 1.5vh;">- Apenas cliente atual</span>
        </div>
        <div>
          <input type="checkbox" style="font-size: 1.5vh;" [(ngModel)]="this.finService.filtro002"><span style="font-size: 1.5vh;">- Mostrar Pagtos efetuados</span>
        </div>

      </div>
      <div class="interno">
        <span style="font-size: 1.5vh;">Data: de </span><input type="date" style="font-size: 1.5vh;" [(ngModel)]="this.finService.filtro003">
        <span style="font-size: 1.5vh;"> até</span><input type="date" style="font-size: 1.5vh;" [(ngModel)]="this.finService.filtro004">
      </div>
      <div class="interno">
        <div>
          <input type="checkbox" style="font-size: 1.5vh;" [(ngModel)]="this.finService.filtro005"><span style="font-size: 1.5vh;">- Inc. Pendente</span>
        </div>
        <div>
          <input type="checkbox" style="font-size: 1.5vh;" [(ngModel)]="this.finService.filtro006"><span style="font-size: 1.5vh;">- Inc. pagos</span>
        </div>
        <div>
          <button style="background-color: rgb(138, 1, 74); color:rgb(246, 203, 222); border-radius: 5px; padding-left: 10px; padding-right: 10px;" (click)="this.finService.Filtra()">FILTRAR</button>
        </div>
      </div>
    </div>
    <div class="e-foto">
      <img *ngIf="this.clienteService.ClienteA.getValue() !== 0" [src]="this.finService.Atual.foto" id="minhaImagem" class="id-Foto">
      <img *ngIf="this.clienteService.ClienteA.getValue() == 0" [src]="this.fotoService.semfoto2" id="minhaImagem" class="id-Foto">
    </div>
    <div class="botoes">
      <button class="btnBranco">
        Anexar Documento
      </button>
      <button class="btnBranco" (click)="this.altCliFunc()">
        {{this.btnCliFunc}}
      </button>
      <button class="btnBranco">
        Imprimir Relatório
      </button>
      <button class="btnBranco" (click)="this.altTab()">
        {{this.btnTab}}
      </button>
      <button class="btnBranco" [style.color]="this.finService.MostraInfo ? 'white' : 'black'" [style.background-color]="this.finService.MostraInfo ? 'var(--cor-media)' : 'white'" (click)="finService.newInfo(this.finService.MostraInfo)">
        {{this.finService.MostraInfo ? 'Cancelar nova informação' : 'Inserir nova informação'}}
      </button>
      <button class="Salvar" (disabled)="!this.finService.MostraInfo" (click)="this.Enviar()">
        Salvar
      </button>
    </div>
  </div>
</div>
